{% extends 'base.html' %}
{% load static %}
{% block content %}
  <table class="table mt-3">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Batch File Name</th>
        <th scope="col">Total Rows</th>
        <th scope="col">Completed Rows</th>
        <th scope="col">Remaining Rows</th>
      </tr>
    </thead>
    <tbody>
        {% for data in data_list %}
      <tr>
        <td >{{ data.batch_file_name }}</td>
        <td>{{ data.total_rows }}</td>
        <td>{{ data.completed_rows }}</td>
        <td>{{ data.remaining_rows }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}